<%= form_for(@player) do |f| %>
	<tr>
      <td><%= @player.position %></td>
      <td><%= link_to @player.full_name, player_path(@player) %>
      <%= ", #{@player.nfl_team}" %></td>
      <% if not @is_sb then %>
	      <td><%= link_to "Drop",
	      			 { :action => "rem_player", :id => params[:id], :player_id  => @player.id, :tab => "Roster" }, 
	      			 { :align=>"left", :class=>"btn btn-sm btn-danger" } %></td>
	  <% else %>
	  	<td align="middle"><%= @player.get_current_week_stat_for( @team ) %></td>
	  <% end %>
    </tr>
<% end %>