<% user = User.find(team.user_id) %>
<% league = League.find(team.league_id) %>
<tr>
  <td><%= team.name %></td>
  <td><%= team.get_record %></td>
  <td><%= user.full_name %></td>
  <% if not league.is_open_for_registration then %>
  	<td><%= team.get_current_game.get_other_team(team).name %></td>
  <% elsif user == current_user %>
  	<td> <%= link_to 'Leave', team_path(team),
    :confirm => 'Are you sure?', :method => :delete %> </td>
  <% else %>
    <td> NA </td>
  <% end %>
</tr>
