<%- model_class = League -%>
<div class="custom-header">
  <h1 align="left"><%=t '.title', :default => @team.name %></h1>
</div>
<table class="table table-striped custom-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Points<th>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
            <td><%= player.position %></td>
            <td><%= link_to player.full_name, player_path(player) %></td>
            <td>???<td>
          </tr>
    <% end %>
  </tbody>
</table>
<a class="btn btn-success btn-lg" href='<%= "#{@team.id}/add_player" %>'>Go To Free Agency</a>