<%- model_class = League -%>
<div class="jumbotron custom-jumbotron">
  <h1 align="center"><%=t '.title', :default => "Open Leagues" %></h1>
  <p align="center">To get started, choose a league to join and create a team. you will be playing in no time. If none fit your fancy, simply create a new one!</p>
  <p align="center">
  <a class="btn btn-success btn-lg" href="/leagues/new">Create League</a>
</div>
<table class="table table-striped custom-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Points<th>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
            <td><%= player.position %></td>
            <td><%= link_to player.full_name, player_path(player) %></td>
            <td>???<td>
          </tr>
    <% end %>
  </tbody>
</table>