<%- model_class = Team -%>
<% @league = League.find(@team.league_id) %>
<% @game = @team.get_current_game %>
<% @s = params[:tab] %>

<div>
  <div class="custom-header">
    <h1 align="left"><%= "#{@team.name} (#{@team.get_record})" %></h1>
    <p align="left"><%= @team.league.name %></p>
    <%=link_to "Edit Team", 
                 { :action => "edit", :id => @team.id }, 
                 { :class=>"btn btn-success pull-right pull-up-btn"} %>
  </div>

</div>
<ul class="nav nav-tabs custom-table">
  <li class=<%= if @s == "League" or @s == nil then "active" end %>><a href="#League" data-toggle="tab">League</a></li>
  <li class=<%=@s=="Roster" ? "active" : ""%>><a href="#Roster" data-toggle="tab">Roster</a></li>
  <li class=<%=@s=="Scores" ? "active" : ""%>><a href="#Scores" data-toggle="tab">Scores</a></li>
</ul>
<div id="myTabContent" class="tab-content custom-table">
  <div class="tab-pane fade <%= (@s == "League" or @s == nil) ? "active in" : "" %>" id="League">
    <%= render 'leagues/details', locals: { league: @league} %>
  </div>
  <div class="tab-pane fade <%= @s == "Roster" ? "active in" : "" %>" id="Roster">
    <% if @league.is_open_for_registration then %>
      <h3>Free agency is not yet open for this league. 
          Have the owner of the league close registration
          to get started</h3>
    <% else %>
      <%= render 'roster', locals: { team: @team} %>
    <% end %>
  </div>
  <div class="tab-pane fade <%= @s == "Scores" ? "active in" : "" %>" id="Scores">
    <% if @league.is_open_for_registration then %>
      <h3> You have no games. The league has yet to start </h3>
    <% else %>
      <%= render 'scoreboard', locals: { game: @game} %>
    <% end %>
  </div>
</div>