<%= form_for @league, :remote=>true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="custom-header-2">
    <% if current_user.id == @league.league_owner_id then %>
      <% if @league.is_open_for_registration then %>
        <%=link_to "Close Registration", 
        			 { :action => "close", :id => @league.id, :controller => :leagues }, 
        			 { :align=>"left", :class=>"btn btn-danger pull-left"} %>
      <% else %>
        <div>
          <%=link_to "Advance Week", 
                 { :action => "advance_week", :id => @league.id, :controller => "leagues" }, 
                 { :align=>"left", :class=>"btn btn-success pull-left pad-btn"} %>
          <%=link_to "Edit League", 
                 edit_league_path(@league), 
                 { :align=>"left", :class=>"btn btn-default pull-left"} %>
        </div>
      <% end %>
	<% else %>
	  <h2 align="left"><%=t '.title', :default => @league.name %></h2>
	<% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Record</th>
        <th>Owner</th>
        <th>Opp</th>
      </tr>
    </thead>
    <tbody id="teams">
      <%= render @league.teams %>
    </tbody>
  </table>
<% end %>