<%- model_class = League -%>
<% if current_user.id == @league.league_owner_id then %>
  <div class="jumbotron trans-color">
  <h1 align="center"><%=t '.title', :default => @league.name %></h1>
  <p align="center">Welcome owner!</p>
</div>
<% else %>
  <div class="jumbotron trans-color">
  <h1 align="center"><%=t '.title', :default => @league.name %></h1>
  <p align="center">To get started, choose a league to join and create a team. you will be playing in no time. If none fit your fancy, simply create a new one!</p>
</div>
<% end %>

<table class="table table-striped custom-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:salary_cap) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @league.teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>