<%- model_class = User -%>
<div class="jumbotron custom-jumbotron">
  <h1 align="center"><%=t '.title', :default => "Welcome " + current_user.first_name + "," %></h1>
  <p align="center">To get started you can create a league, join a league, or manage teams you have already created.</p>
  <p align="center"><a class="btn btn-success btn-lg" href="/leagues/new">Create League</a>
  <a class="btn btn-warning btn-lg" href="/leagues">Join League</a></p>
</div>
<table class="table table-striped custom-table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Team Name") %></th>
      <th><%= model_class.human_attribute_name("League") %></th>
      <th><%= model_class.human_attribute_name("Record") %></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= if team.league != nil then team.league.name else "NA" end %></td>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>