<!-- Manages the main image banner on homescreen -->
<% banner_pics = Dir.glob("#{Rails.root}/public/assets/home_banner/*") %>
<div id="carousel-example-generic" style="min-height: 75vh;" class="carousel slide" data-ride="carousel" data-interval="6500" data-pause="">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% banner_pics.length.times do |num| %>
      <li data-target="#carousel-example-generic" data-slide-to=<%= num %> <%= if num == 0 then "class=active" end%></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner picture_banner" role="listbox" style="min-height: 75vh;">
    <% lead_photo = banner_pics.shift %>
    <div class="item active">
      <img style="min-height: 75vh; min-width: 100%" src=<%= "/assets/home_banner/#{lead_photo.split('/').last}" %>/>
    </div>

    <%  banner_pics.each do |file_name| %>
      <% img_src = file_name.split('/').last %>
      <div class="item displayed">
        <img style="min-height: 75vh; min-width: 100%" src=<%= "/assets/home_banner/#{img_src}" %>/>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog pull-right" style="margin-right: 25vh; margin-left: 25vh;">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="modal-title" id="myModalLabel">Log in</h2>
        </div> <!-- /.modal-header -->

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="modal-body row">
            <div class="custom-table">

              <!-- EMAIL -->
              <div class="form-group">
                <div class="col-xs-12">
                  <%= f.text_field :email, placeholder: 'Email', :id => 'uLogin', :class => 'text_field form-control two_hund v-space' %>
                </div>
              </div>

              <!-- PASSWORD -->
              <div class="form-group">
                <div class="col-md-12">
                  <%= f.password_field :password, placeholder: 'Password', :class => 'text_field form-control two_hund v-space' %>
                </div>
              </div>

            </div>
          </div> <!-- /.modal-body -->

          <div class="modal-footer row">

            <div class="form-group" >
              <div class='col-md-10 col-md-offset-1' style="text-align: center">
                <%= f.submit 'Log In', :class => 'form-control btn btn-primary' %>
                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me%>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>
                <div style="margin-left:5px">
                  <%= render 'devise/shared/links' %>
                </div>
              </div>
            </div>
          </div><!-- /.modal-footer -->
        <% end %>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- I don't like all the style tags, but I am trying to just edit this file and leave everything else the same -->
<div id="description" style="background: #3e3f3a; color: white">
  <div class="row" style="margin-left: 25vh; height: 25vh">
    <div id="col-md-10" style="text-align: left;">
      <h1>
        Description
      </h1>
      <br/>
      <p>
        This was a school project I completed in December of 2014. It is my first attempt at a Ruby on Rails application.
        It is being displayed how I created it back then with only slight modification to the login page. There are things
        that I would definitely change, but this is a snapshot of my work as a student.
      </p>
    </div>
  </div>
</div>
