<h1 class="background-color log-in">Log in</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
  <div class="custom-table">
    <div class="form-group">
      <%= f.label :email, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :email, placeholder: "Email", :class => 'text_field form-control two_hund v-space' %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Password   ", :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.password_field :password, placeholder: "Password", :class => 'text_field form-control two_hund v-space' %>
      </div>
    </div>

    <div class="form-group"  align="left">
      <div class='col-md-offset-2 col-md-10'>
        <%= f.submit "Log In", :class => 'btn btn-primary btn-lg two_hund' %>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        <div style="margin-left:5px">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


