<%- model_class = Player -%>
<div class="container custom-header">
    <h1 align="left"><%= "#{@player.position} - #{@player.full_name}"%></h1>
    <p  align="left"><%= "Average Points #{@player.average_points}"%><p>
</div>

<!--- Team doesn't matter -->
<% @team = Team.find(params[:team_id]) %>
<% (1..@league.current_week).each do |week| %>
  <% if @player.get_stat_by_week(week, @team).nil? then %>
    <% @player.stats << Stat.create!(:week => week, :for_league_id => @league.id) %>
    <% @player.save %>
  <% end %>
<% end %>

<div class="custom-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <% (1..8).each do |num| %>
          <th><%= "Week #{num}" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% (1..8).each do |week| %>
        <% if week-1 < @stats.length then %>
            <td><%= @player.get_stat_by_week(week, @team).points %></td>
        <% else %>
          <td>-</td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <% (9..16).each do |num| %>
          <th><%= "Week #{num}" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% (8..15).each do |week| %>
        <% if week < @stats.length then %>
          <% if @stats[week-1].week == week then %>
            <td><%= @player.get_stat_by_week(week, @team).points %></td>
          <% end %>
        <% else %>
          <td>-</td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group">
  <%= link_to "Back", { :action => "show", :id => params[:team_id], :controller => "teams" },
                      { :class => "btn btn-primary"}%>
</div>
